# Ignore directories containing user-uploaded files and generated training data
uploads/
train_data/
.env
celerybeat-schedule.db

# For webhosting
acme-challenge/
nginx.conf

# General old files
temp/
